@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import url(../suport.css);


* {
    padding: 0px;
    margin: 0px;
}



body{
    font-family: 'Jost';
    font-weight: 400;
    box-sizing: border-box;
    background-color: var(--cor001);
    overflow-x: hidden;
    color: var(--cor2);
    background-color: var(--cor4);

    & h1, h2, h3, h4, h5, h6 {
        font-family: 'Figtree';
    }
}

hr {
    border-top: 2px solid var(--cor3);
}


header {
    display: grid;

    grid-template-columns: minmax(auto, .5fr) 0.1fr 2fr 0.2fr 0.2fr;
    
    background-color: var(--cor3);
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 10px;
    padding-bottom: 10px;
    
    & a{
        color: var(--cor1);
        margin: 20px;
        text-align: left;
        font-size: 1.5rem;
        text-decoration: none;
    }
    & #a-center{
        margin: auto;
        text-align: center;
    }

}

section.intro{
    padding: 20px;
    display: flex;
    flex-flow: row wrap; /* lado a lado */
    align-items: flex-start; /* topo alinhado */
    justify-content: center; /* centraliza na horizontal */
    gap: 10px; /* espaço entre texto e imagem */
    background-color: #d8d8d8;
    padding: 5vh 0 10vh 0;

    color: var(--cor1);

    background-color: #3721c2;

    & .caixa1 {
    flex: 1 1 400px;
    max-width: 48%;
    margin: 0 3% 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    & .caixa2 {
    flex: 1 1 400px;
    max-width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    & h1 {
        font-size: 4.5rem;
    }

    & h2 {
        font-size: 2rem;
        font-weight: 300;
    }
    

    & img {
    max-width: 100%;
    height: auto;
    /*box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);*/
    margin-right: 50px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;

}
    & img:hover{
    box-shadow: 0 4px 5px 0 var(--cor3a);
    transform: translateX(-10px);
    transform: translateY(+10px);
    }

    
}

main {
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 50vh;
    background-color: var(--cor1);
    max-width: 90vw;
    padding: 2vw;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "coluna2 coluna1";
}


.legenda {
    margin-right: 15px;
    
     & .legenda-head {
        padding: 20px;
        box-sizing: border-box;
        
    
        background-color: white;
        margin-left: 10%;
        padding-bottom: 4vh;
        box-shadow: 0 4px 5px 0 var(--cor3a);
        
        width: 100%;
        background-color: white;
        
        flex: 1 1 0;
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 30px;
        flex-flow: column wrap;

        & h2 {
            font-size: 2.5rem;
        }
        & p {
            font-size: 1rem;
            font-weight: 350;
            text-align: justify;
            margin: 0 2vw 0 40px;
            padding: 5px 0;
        }

        


     }

     & hr {
            width: 100%;
            align-self: stretch; /* faz o hr ocupar toda a largura no flexbox */
            margin: 10px 0;      /* espaço acima e abaixo */
            border: 2px solid var(--cor3);
        }


    & .recent-posts {
        & p {
            font-size: 1.2rem;
            font-weight: 450;
            text-align: left;
            margin: 0 2vw 0 40px;
            padding: 5px 0;
        }
        & figcaption{
            padding: 5px 0;
            margin: 0 2vw 0 70px;
            font-weight: 280;
        }
    }
}







main > section.posts{
    grid-area: coluna2;
}

.post > a {
    text-decoration: none;
    
    & h2, p{

    color: black;
}
}

main > section.posts > .post > a{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;


    transition: transform 0.3s, box-shadow 0.3s;

    

    


    & .texto-post{
        flex: 1 1 400px;
        max-width: 50%;
        height: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 10px;
        margin-top: 20px;
        flex-flow: column wrap;

        & h2 {
            font-size: 2.3rem;
            transition: color 0.3s;
            padding-right: 5px;
        }
        & p {
            font-size: 1rem;
            font-weight: 350;
            text-align: justify;
            margin: 0 2vw 0 0;
        }



    }



    & .imagem-post {
    flex: 1 1 30px;
    max-width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & img {
    margin: 10px 0 0 10px;
    max-width: 90%;
    height: auto;
    display: block;
    /*box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);*/
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

}


}
div.post > a:hover{
    box-shadow: 0 4px 5px 0 var(--cor3a);
    transform: translateY(-10px);

    }
& .post > a:hover .texto-post > h2, .post > a:hover .texto-post > p {
        color: var(--cor3);
    }