@charset "UTF-8";

/* Typical Device Breakpoints 
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768 até 992px
Desktop: 992px até 1200px 
TV: acima de 1200px

*/


@media screen and (min-width: 0px) and (max-width: 826px) { 

header {
    display: grid;

    grid-template-columns: 2fr minmax(auto, .5fr) 0fr 3fr 1fr 0.005fr;
    
    background-color: var(--cor3);
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 10px;
    padding-bottom: 10px;
    
    & a{
        color: var(--cor1);
        margin: 20px;
        text-align: left;
        font-size: 1.3rem;
        text-decoration: none;
    }
    & #a-center{
        margin: auto;
        text-align: center;
    }

}


section.intro{
    padding: 20px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    background-color: #d8d8d8;
    padding: 5vh 0 5vh 0;

    color: var(--cor1);

    background-color: #3721c2;

    & .caixa1 {
    max-width: 80%;
    margin: auto;
    /*margin: 0 3% 0 40px;*/
    }

    & .caixa2 {
    max-width: 48%;
    margin: auto;

}

    & h1 {
        font-size: 3rem;
        text-align: center;
    }

    & h2 {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: justify;
    }
    

    & img {
    display: none;


}
    & img:hover{
    box-shadow: 0 4px 5px 0 var(--cor3a);
    transform: translateX(-10px);
    transform: translateY(+10px);
    }

    
}



main {
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 50vh;
    background-color: var(--cor1);
    max-width: 90vw;
    padding: 2vw;

    display: block;
}

main > section.posts > .post > a{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: white;
    display: block;
    margin-bottom: 20px;


    transition: transform 0.3s, box-shadow 0.3s;

    

    


    & .texto-post{
        max-width: 100%;
        height: 90%;
        margin-left: 10px;
        margin-top: 20px;
        flex-flow: column wrap;

        & h2 {
            font-size: 2.3rem;
            transition: color 0.3s;
            padding-right: 5px;
        }
        & p {
            font-size: 1rem;
            font-weight: 350;
            text-align: justify;
            margin: 0 2vw 0 0;
        }



    }



    & .imagem-post {
    max-width: 100%;
    display: block;

    & img {
    margin: auto;
    max-width: 95%;
    display: block;
    /*box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);*/
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

}
}}